@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Montserrat', sans-serif;
}

:root {
  --ui-container: var(--container-5xl);
  --ui-primary: #c28e38;
  /* --ui-primary: #f45d33; */
  --ui-secondary: #2D4232;
  --ui-header-height: 96px;
}
