@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Roboto', sans-serif;
}

:root {
  --ui-container: var(--container-5xl);
  --ui-primary: #f45d33;
  --ui-secondary: #f78e1e;
}
