@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Montserrat', sans-serif;
}

:root {
  --ui-container: var(--container-5xl);
  --ui-primary: #f45d33;
  --ui-secondary: #484b48;
}
